fastapi==0.111.0
uvicorn[standard]
requests
python-dotenv==1.0.1
pydantic
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-multipart
#jira
# Future Lambda support (uncomment when deploying to AWS):
# mangum
# psycopg2-binary